flows/Business_Time.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Business_Time</name>
        <label>Add Business Time</label>
        <locationX>920</locationX>
        <locationY>131</locationY>
        <actionName>InvocableBusinessHoursAdd</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Task_Vals</targetReference>
        </connector>
        <inputParameters>
            <name>dTime</name>
            <value>
                <elementReference>v_DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>minutes</name>
            <value>
                <elementReference>fx_BusinessMinutes</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>v_ReturnedDateTime</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Minutes_and_Hours</name>
        <label>Assign Minutes and Hours</label>
        <locationX>448</locationX>
        <locationY>126</locationY>
        <assignmentItems>
            <assignToReference>v_BusinessMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_BusinessTime.Minutes_Per_Hour__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BusinessHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_BusinessTime.Hours_Per_Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Priority_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Vals</name>
        <label>Assign Task Vals</label>
        <locationX>918</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>r_UpdatedTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_TaskID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_UpdatedTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ReturnedDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Priority_Choice</name>
        <label>Priority Choice</label>
        <locationX>568</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>High_Priority_Days</targetReference>
            </connector>
            <label>High Priority</label>
        </rules>
        <rules>
            <name>Normal_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Normal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Normal_Priority_Days</targetReference>
            </connector>
            <label>Normal Priority</label>
        </rules>
        <rules>
            <name>Low_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Low_Priority_Days</targetReference>
            </connector>
            <label>Low Priority</label>
        </rules>
    </decisions>
    <formulas>
        <name>fx_BusinessMinutes</name>
        <dataType>Number</dataType>
        <expression>({!fx_MinutesPerDay}*{!r_BusinessTime.Number_of_Days__c})+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fx_MinutesPerDay</name>
        <dataType>Number</dataType>
        <expression>{!v_BusinessHours}*{!v_BusinessMinutes}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Business Time {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Business Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Time</name>
        <label>Get Time</label>
        <locationX>319</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Minutes_and_Hours</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </filters>
        <object>Business_Time__mdt</object>
        <outputReference>r_BusinessTime</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Minutes_Per_Hour__c</queriedFields>
        <queriedFields>Hours_Per_Day__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>High_Priority_Days</name>
        <label>High Priority Days</label>
        <locationX>778</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Business_Time</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>Business_Time__mdt</object>
        <outputReference>r_BusinessTime</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Days__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Low_Priority_Days</name>
        <label>Low Priority Days</label>
        <locationX>784</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Business_Time</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </filters>
        <object>Business_Time__mdt</object>
        <outputReference>r_BusinessTime</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Days__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Normal_Priority_Days</name>
        <label>Normal Priority Days</label>
        <locationX>776</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Business_Time</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </filters>
        <object>Business_Time__mdt</object>
        <outputReference>r_BusinessTime</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Days__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>919</locationX>
        <locationY>451</locationY>
        <inputReference>r_UpdatedTask</inputReference>
    </recordUpdates>
    <startElementReference>Get_Time</startElementReference>
    <status>Active</status>
    <variables>
        <name>r_BusinessTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Time__mdt</objectType>
    </variables>
    <variables>
        <name>r_UpdatedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>v_BusinessHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_BusinessMinutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_DueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_ReturnedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_TaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
